name = "PostNewtonian"
uuid = "377afc40-5642-4616-8613-b7ebca523866"
authors = ["Michael Boyle <michael.oliver.boyle@gmail.com> and contributors"]
version = "0.10.4"

[deps]
DataInterpolations = "82cc6244-b520-54b8-b5a6-8a565e85f1d0"
FastDifferentiation = "eb9bf01b-bf85-4b60-bf87-ee5de06c00be"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
OrdinaryDiffEqVerner = "79d7bb75-1356-48c1-b8c0-6832512096c2"
Quaternionic = "0756cd96-85bf-4b6f-a009-b5012ea7a443"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
RuntimeGeneratedFunctions = "7e49a35a-f44a-4d26-94aa-eba1b4ca6b47"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
SphericalFunctions = "af6d55de-b1f7-4743-b797-0829a72cf84e"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
SymbolicIndexingInterface = "2efcf032-c050-4f8e-a9bb-153293bab1f5"
TestItems = "1c621080-faea-4a02-84b6-bbd5e436b8fe"

[weakdeps]
SymbolicUtils = "d1185830-fcd6-423d-90d6-eec64667417b"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[extensions]
PostNewtonianSymbolicsExt = ["Symbolics", "SymbolicUtils"]

[compat]
Aqua = "0.8"
DataInterpolations = "5.1, 6, 7"
DoubleFloats = "1.4"
ExplicitImports = "1.8"
FastDifferentiation = "0.3.15"
FileIO = "1.16.3"
HDF5 = "0.17.2"
InteractiveUtils = "1"
LinearAlgebra = "1"
Logging = "1"
MacroTools = "0.5.10"
OrdinaryDiffEqVerner = "1.1"
Quaternionic = "1.5.2, 2"
Random = "1"
RecursiveArrayTools = "3"
ReferenceTests = "0.10.4"
RuntimeGeneratedFunctions = "0.5.13"
SciMLBase = "1, 2"
SphericalFunctions = "2.2.7"
StaticArrays = "1.9"
SymbolicIndexingInterface = "0.3"
SymbolicUtils = "1, 2, 3"
Symbolics = "5.25, 6"
Test = "1.11"
TestItemRunner = "1"
TestItems = "1"
julia = "1.10"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
DoubleFloats = "497a8b3b-efae-58df-a0af-a86822472b78"
ExplicitImports = "7d51a73a-1435-4ff3-83d9-f097790105c7"
FastDifferentiation = "eb9bf01b-bf85-4b60-bf87-ee5de06c00be"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
OrdinaryDiffEqVerner = "79d7bb75-1356-48c1-b8c0-6832512096c2"
Quaternionic = "0756cd96-85bf-4b6f-a009-b5012ea7a443"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
ReferenceTests = "324d217c-45ce-50fc-942e-d289b448e8cf"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
SymbolicUtils = "d1185830-fcd6-423d-90d6-eec64667417b"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"

[targets]
test = ["Aqua", "DoubleFloats", "ExplicitImports", "FastDifferentiation", "FileIO", "HDF5", "Logging", "OrdinaryDiffEqVerner", "Quaternionic", "Random", "ReferenceTests", "SciMLBase", "SymbolicUtils", "Symbolics", "Test", "TestItemRunner"]
